@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
.videofundo{
    position:absolute;
    right: 0;
    bottom:0;
    background-size: cover;
    z-index: -100;
    margin-bottom: -280px;
}
body{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px black;
    margin-left: 500px;
    margin-top: 50px;
}
#primnome{
    border-radius: 20px;
    width: 250px;
    height: 40px;
}
#email{
    border-radius: 40px;
    width: 250px;
    height: 40px;
}
#key{
    border-radius: 40px;
    width: 250px;
    height: 40px;
}

h1{
    font-size: 40px;
    color: aliceblue;
    font-family: DynaPuff;
}
h3{
    font-size: 20px;
    color: rgba(240, 248, 255, 0.644);
    font-family: DynaPuff;
}
#nome{
    font-size: 20px;
    color: aliceblue;
    font-family: DynaPuff;
}
#emaill{
    font-size: 20px;
    color: aliceblue;
    font-family: DynaPuff;
}
#senha{
    font-size:20px ;
    color: aliceblue;
    font-family: DynaPuff;
}
.caixainput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.botao{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 4px;
    font-family: DynaPuff;
}
#botaov{
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(26, 29, 29, 0.619);
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 3px;
    border: solid 2px;
    margin-left: -900px;
    margin-top: -15px;
}

